@charset "UTF-8";
/* –––––––––––––––––––––––––––––––––––––––––––––––––– *\

	This is the main scss file.  Feel free to break
	things down into components if you want.  Otherwise,
	you can build all your styles here.

	This should compile to the root of the project.

 * –––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css?family=Tajawal:300");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  background-color: #b89882;
  color: #3e4544;
  font-family: "Tajawal", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%; }
  body.house-bg {
    background: url(assets/img/placeholder-01.jpg) no-repeat fixed center;
    background-size: cover; }
  body.beach-bg {
    background: url(assets/img/placeholder-02.jpg) no-repeat fixed center;
    background-size: cover; }
  body.white {
    color: #fff; }
    body.white a {
      color: #fff; }

a {
  text-decoration: none;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #3e4544; }

button {
  border: none;
  outline: none; }

header {
  display: flex;
  justify-content: space-around;
  padding-top: 60px; }
  header h1 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column; }
    header h1 img {
      width: 228px;
      height: auto;
      margin: auto;
      margin-bottom: 27px; }
    header h1 p {
      font-size: 22px;
      font-weight: 300;
      margin: 0; }
  header .insta,
  header button {
    width: 30px;
    height: 30px; }
  header .insta {
    background: url(assets/img/instagram.svg) no-repeat; }
  header .hamburger {
    background: url(assets/img/hamburger.svg) no-repeat;
    background-size: cover; }
  header .cross {
    background: url(assets/img/cross.svg) no-repeat;
    background-size: cover; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%; }
  main nav.off {
    display: none; }
  main nav ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    main nav ul li {
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 3.5px; }

footer {
  height: 136px;
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly; }

/*# sourceMappingURL=style.css.map */
