@import url('https://fonts.googleapis.com/css?family=Tajawal:300');

// Variables
$brand-font: 'Tajawal', sans-serif;
$airy-letters: 3.5px;


// Colours
$brown:							#b89882;
$white:							#fff;
$black:							#000;
$grey:							#3e4544;
